<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHelloworld:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCHelloworld-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCHelloworld:war exploded" />
    </root>
  </artifact>
</component>